* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-card {
  max-width: 320px;
  max-height: 320px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-img {
  height: 160px;
  width: 160px;
}
